a {
    cursor: pointer;
}
.kategoriler {
    width: 12rem;
    margin: 1rem;
    button {
        width: 8rem;
        margin-bottom: 1rem;
    }
    .aktifKategori {
        background-color: red;
    }
}